<div class="px-4 py-8 md:px-6 lg:px-8 w-8 mx-auto">
    <div class="text-900 text-4xl font-bold mb-4">Account</div>

    <div class="account-section flex border-top-1 surface-border py-5">
        <header class="account-section-header w-5">
            <div class="text-xl uppercase font-bold text-700">Membership & Billing</div>
        </header>
        <section class="section-content flex w-full justify-content-between text-lg">
            <div class="account-subsection">
                <div class="account-section-group">
                    <div class="account-section-item text-500 mb-3">john@doe.com</div>
                    <div class="account-section-item text-500 mb-3">Password: *******</div>
                    <div class="account-section-item text-500 mb-3">+62 8123 4567</div>
                </div>
            </div>
            <div class="account-subsection text-right">    
                <div class="account-section-item text-blue-500 hover:text-blue-700 mb-3 cursor-pointer">Change Email</div>
                <div class="account-section-item text-blue-500 hover:text-blue-700 mb-3 cursor-pointer">Change Password</div>
                <div class="account-section-item text-blue-500 hover:text-blue-700 mb-3 cursor-pointer">Change Phone Number</div>
            </div>
        </section>
    </div>

    <div class="account-section flex border-top-1 surface-border py-5 align-items-center">
        <header class="account-section-header w-5">
            <div class="text-xl uppercase font-bold text-700">Plan Details</div>
        </header>
        <section class="section-content flex w-full justify-content-between text-lg">
            <div class="account-subsection">
                <div class="account-section-group">
                    <div class="account-section-item text-500">No streaming plan</div>
                </div>
            </div>
            <div class="account-subsection text-right">    
                <div routerLink="/plan" class="account-section-item text-blue-500 hover:text-blue-700 cursor-pointer">Add Streaming Plan</div>
            </div>
        </section>
    </div>

    <div class="account-section flex border-top-1 surface-border py-5">
        <header class="account-section-header w-5">
            <div class="text-xl uppercase font-bold text-700">Settings</div>
        </header>
        <section class="section-content flex w-full justify-content-between text-lg">
            <div class="account-subsection">    
                <div class="account-section-item text-blue-500 hover:text-blue-700 mb-3 cursor-pointer">Marketing communications</div>
                <div class="account-section-item text-blue-500 hover:text-blue-700 mb-3 cursor-pointer">Notifications</div>
                <div class="account-section-item text-blue-500 hover:text-blue-700 mb-3 cursor-pointer">Manage Profile</div>
            </div>
        </section>
    </div>
</div>