@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

.trailer-dialog.p-dialog {
    .p-dialog-header {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 426px;
        padding: 1rem;
        border: 1px solid var(--surface-border);
    }
}

